@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Code was not obtained from any website */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header {
    font-size: 45px;
    display: flex;
    width: 650px;
    height: auto;
    margin: 10px auto;
    justify-content: center;
    color: #DC052D;
}

/* Code obtained from https://alvarotrigo.com/blog/hamburger-menu-css/ */
#menu {
    z-index: 2;
}
  
#menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}
  
.bar {
    height: 5px;
    width: 100%;
    background-color: #DC052D;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
  
#bar1 {
    transform: translateY(-4px);
}
  
#bar3 {
    transform: translateY(4px);
}
  
.nav {
    transition: 0.3s ease;
    display: none;
}
  
.nav ul {
    padding: 0 22px;
}
  
.nav li {
    list-style: none;
    padding: 12px 0;
}
  
.nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
  
.nav li a:hover {
    font-weight: bold;
}
  
.menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
}
  
.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #DC052D, #DC052D);
    border-radius: 50%;
    transition: 0.3s ease;
}
  
.change {
    display: block;
}
  
.change .bar {
    background-color: white;
}
  
.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}
  
.change #bar2 {
    opacity: 0;
}
  
.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}
  
.change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%,-30%);
}

/* Code not from any specific website */
.sub p {
    display: flex;
    width: 900px;
    margin: 30px auto;
    font-size: 30px;
    text-align: center;
    color: #6d696ad0;
}

.instructions {
    display: flex;
    width: 600px;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    color: #6d696a;
}

.btn {
    display: flex;
    font-size: 30px;
    padding: 10px 0;
    width: 300px;
    height: 80px;
    margin: 30px auto;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #DC052D;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 1.4px 10.4px 0 #6d696aa9;
    transform: translateY(-1px);
    transition: transform 150ms;
    color: #DC052D;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}