@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Code was not obtained from any website */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header {
    font-size: 45px;
    display: flex;
    width: 650px;
    height: auto;
    margin: 10px auto;
    justify-content: center;
    color: #DC052D;
}

/* Code obtained from https://alvarotrigo.com/blog/hamburger-menu-css/ */
#menu {
    z-index: 2;
}
  
#menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}
  
.bar {
    height: 5px;
    width: 100%;
    background-color: #DC052D;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
  
#bar1 {
    transform: translateY(-4px);
}
  
#bar3 {
    transform: translateY(4px);
}
  
.nav {
    transition: 0.3s ease;
    display: none;
}
  
.nav ul {
    padding: 0 22px;
}
  
.nav li {
    list-style: none;
    padding: 12px 0;
}
  
.nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
  
.nav li a:hover {
    font-weight: bold;
}
  
.menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
}
  
.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #DC052D, #DC052D);
    border-radius: 50%;
    transition: 0.3s ease;
}
  
.change {
    display: block;
}
  
.change .bar {
    background-color: white;
}
  
.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}
  
.change #bar2 {
    opacity: 0;
}
  
.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}
  
.change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%,-30%);
}

/* Code based on the JS course I am doing with Udemy  */
.container { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    padding: 15px;
    width: 600px;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#item {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.item-prefix {
    text-align: center;
    font-size: 20px;
}

.choice-container {
    display: flex;
    margin: 10px; 
    width: 80%;
    font-size: 20px; 
    border: 1px solid #6d696a36;
    background-color: #6d696a36;
    height: 40px;
    align-content: center;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 1.4px 10.4px 0 #6d696aa9;
    transform: translateY(-1px);
    transition: transform 150ms;
    color: #DC052D;
}

.choice-prefix {
    height: 40px;
    width: 40px;
    padding: 4px 4px;
    background-color: #DC052D;
    color: white;
    text-align: center;
} 

.choice-text {
    padding: 5px;
    width: 100%;
}

#question {
    display: flex;
    margin: 10px;
}

/* Code was not obtained from any specific website */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    bottom: 0;
    background-color: #DC052D;
    color: white;
    font-size: 18px;
    text-align: center;
} 

.correct {
    background-color: rgba(0, 128, 0, 0.856);
}

/* Code was not obtained for any specific website */
.container-end { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px auto;
    padding: 10px;
    width: 600px;
    height: 250px;
}

.yourScore {
    display: flex;
    margin: 30px auto;
    font-size: 25px;
    justify-content: center;
    color: #6d696a;
}

#finalScore {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: #DC052D;
}

@media only screen and (max-width: 768px) {
    .header {
        font-size: 35px;
        display: flex;
        width: 100%;
        height: auto;
        margin: auto;
    }

    #menu-bar {
        width: 35px;
        height: 30px;
        margin: 15px 0 10px 10px;
        cursor: pointer;
    }
    .container { 
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px auto;
        padding: 10px;
        width: auto;
    }
    .item-prefix {
        text-align: center;
        font-size: 15px;
    }
    .choice-container {
        display: flex;
        margin-bottom: 10px; 
        width: 80%;
        font-size: 12px; 
        border: 1px solid #6d696a36;
        background-color: #6d696a36;
        height: 40px;
        align-content: center;
    }
    .container-end { 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 10px;
        width: 500px;
    }
    .yourScore {
        display: flex;
        margin: auto;
        font-size: 25px;
        justify-content: center;
        color: #6d696a;
    }
    
    #finalScore {
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: bold;
        color: #DC052D;
    }
}


@media only screen and (max-width: 600px) {
    .header {
        font-size: 20px;
        display: flex;
        width: 100%;
        height: auto;
        margin: auto;
    }

    #menu-bar {
        width: 20px;
        height: 20px;
        margin: 10px 0 5px 5px;
        cursor: pointer;
    }

    .container-end { 
        flex-direction: column;
        margin: auto;
        padding: 10px;
        width: 280px;
    }
    .yourScore {
        display: flex;
        margin: auto;
        font-size: 15px;
        justify-content: center;
        color: #6d696a;

    }
    
    #finalScore {
        display: flex;
        justify-content: center;
        font-size: 15px;
        font-weight: bold;
        color: #DC052D;
    }
}

    